<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div>
          <span style="color: red;">
            <i class="far fa-heart"></i>
          </span>
          <span class="m-0">Created by Aili.</span>
        </div>
      </div>

      <div class="col-6 d-flex flex-row-reverse">
        <a class="px-2" href="https://github.com/AiliGong" target="_blank">
          <i class="fab fa-github footer-icon"></i>
        </a>
        <a class="px-2" href="https://www.linkedin.com/in/aili-gong/" target="_blank">
          <i class="fab fa-linkedin footer-icon"></i>   
        </a>
      </div>
    </div>
  </div>
</footer>
