<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div>
          <p class="lead m-0">Highest Level Attempted: 90+</p>
        </div>
      </div>

      <div class="col-6 d-flex flex-row-reverse">
        <a class="px-2" href="http://www.facebook.com" target="_blank">
          <i class="fab fa-facebook footer-icon"></i>
        </a>
        <a class="px-2" href="http://www.twitter.com" target="_blank">
          <i class="fab fa-twitter footer-icon"></i>   
        </a>
        <a class="px-2" href="http://www.LinkedIn.com" target="_blank">
          <i class="fab fa-linkedin footer-icon"></i>   
        </a>
      </div>
    </div>
  </div>
</footer>
