<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
  <div class="container-fluid">
    <%= link_to "Quiz+", {:controller => :home, :action => :index}, {class:
    "navbar-brand title"}%>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <%= link_to "Home", {:controller => :home, :action => :index}, {class:
            "nav-link active"}%>
        </li>
      </ul>
     
      <div>
        <p>Aili Gong</p>
        <p>s3443647@student.rmit.edu.au</p>
      </div>
    </div>
  </div>
</nav>
